/* imports Material */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-grey);
$accent:  mat-palette($mat-green);

@import '@angular/material/prebuilt-themes/indigo-pink.css';

  body{
    background-color: #eee;
  }
