  div.container
  {
      display: flex;
      margin-bottom: 10px;
  }

  div.container > div
  {
      flex: 1 1 5em;
      margin-left: 10px;
  }

  div.container > div:first-child
  {
      margin-left: 0;
  }

  div.container > div.two
  {
      flex:2 2 calc(10em + 10px); /** 10px is the missing margin of the missing box */
  }

  .img-header-image {
    background-image: url('./../../../assets/img/logo1.png');
    background-size: cover;
  }

  .logo{
      margin: 60px;
      text-align: center;
      height: 120px;
  }

  .img-logo-image {
    width: 400px;
    height: 100px;;
  }

  .mdl-button  {
    margin: 15px;
    background-color: #143B68;
    color: white;
  }


  .mdl-button:hover  {
    background-color: rgb(7, 38, 75);
    color: white;
  }


  .mdl-button:disabled  {
    background-color:  rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
    cursor: not-allowed;
    /* color: white; */
  }



  .input-full-width {
    width: 100%;
  }



