<div class="logo">
    <img src="./../../../assets/img/logo.png" class="img-logo-image" alt="">
</div>

<div class="container">
    <div></div>
    <div class="two">
      <form [formGroup]="calculadora" (ngSubmit)="calcularValorTotal()">
        <mat-card>
          <mat-card-header>
              <div mat-card-avatar class="img-header-image"></div>
              <mat-card-title>Calculadora de vendas de metais e sujeira comuns</mat-card-title>
              <mat-card-subtitle>Valores equivalentes: I = 1, V = 5, X = 10, L = 50, C = 100, D = 500, M = 1.000</mat-card-subtitle>
              <mat-card-subtitle>Valores materiais: glob = I, prok = V, pish = X, tegj = L</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="input-full-width">
              <input matInput #message maxlength="256" formControlName="pergunta"
                name="pergunta" ngModel placeholder="Digite sua pergunta" (change)="resetarValores()">
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions align="end">
                <button mat-raised-button type="submit" title="Calcular"
                    color="primary" class="mdl-button" [disabled]="!calculadora.valid">
                    <span>Calcular</span>
                </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
    <div></div>
</div>


<div class="container" *ngIf="result" >
    <div></div>
    <div class="two">
        <mat-card>
          <mat-card-header>
              <mat-card-title>{{result}}</mat-card-title>
          </mat-card-header>
        </mat-card>
    </div>
    <div></div>
</div>
